@import url(./framework.css);
/* @import url(./normalize.css); */
@import url(./cairo.css);
:root {
  --color-navbar: #343a40;
  --main-color: #890e4f;
}
* {
  font-family: "cairo", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  text-transform: capitalize;
}
header {
  text-transform: capitalize;
  height: 80px;
  width: 100%;
}
.navbar {
  position: fixed;
  height: 80px;
  background-color: var(--color-navbar);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
  z-index: 1000;
}
.navbar .logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar .logo img {
  width: 5rem;
}
.navbar .logo span {
  color: white;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  width: 35%;
  justify-content: space-around;
  color: white;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  display: flex;
  transition: all 0.2s;
}
.navbar ul li a:hover {
  transform: translateY(-5px);
}
.navbar ul li {
  list-style: none;
}
.buttons a {
  text-decoration: none;
  color: white;
}
.menu-div .ul-menu {
  display: none;
}
.menu-div {
  display: none;
}
@media (max-width: 825px) {
  .navbar ul {
    display: none;
  }
  .navbar {
    padding: 0;
  }
  .menu-div {
    position: fixed;
    width: 60%;
    background-color: #343a40;
    min-height: 100%;
    top: 80px;
    opacity: 0.8;
    transition: 0.5s ease;
    left: 0;
    margin-right: 50px;
    transform: translateX(-2000px);
    z-index: 999;
    display: block;
  }
  .menu-div ul {
    display: flex;
    flex-direction: column;
  }
  .menu-div a {
    text-decoration: none;
    font-size: 2em;
    color: #fff;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    height: 10vh;
    font-weight: bold;
    padding-left: 20px;
  }
  .menu-div .buttons {
    display: none;
    flex-direction: column;
    padding: 10px;
  }
  #toggle {
    position: relative;
    width: 50px;
    height: 50px;
    background: #37a6ff;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: all 0.2s;
  }
  #toggle.active {
    background: #f7226a;
  }

  #toggle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #fff;
  }
  #toggle.active::before {
    box-shadow: 0 0 0 #fff;
    transform: translateY(0) rotate(45deg);
  }
  #toggle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
    transform: translateY(10px);
  }
  #toggle.active::after {
    transform: translateY(0) rotate(-45deg);
  }
  /* Show menu bar by class active */
  .menu-div.active {
    transition: 0.5s;
    transform: translateX(0);
    display: block;
  }
  .menu-div.active ~ body {
    opacity: 0.5;
  }
}

@media (max-width: 470px) {
  .buttons {
    display: none;
  }
  .menu-div .buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .menu-div .buttons button {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 0.2rem;
    font-size: 0.9rem;
  }
  .menu-div .buttons button a {
    border: none;
  }
}
/* Nav Links Section */
/* End Navbar */

/* Start Main Section */
section {
  margin-bottom: 0rem;
}
.main {
  width: 100%;
  height: calc(100vh - 80px);
  background: linear-gradient(
    to left,
    var(--main-color),
    rgba(52, 46, 142, 0.9)
  );
  display: flex;
}

.main_photo {
  width: 70%;
  height: 70%;
  transform: translateX(-9%);
  object-fit: contain;
  height: fit-content;
}
.main h1 {
  color: white;
}
.main h3 {
  color: white;
  width: 100%;
}
.main .content {
  height: fit-content;
  top: 50%;
  position: relative;
  transform: translate(-1rem, -100%);
  padding: 0.5rem;
}
.main .content button {
  margin: 1rem 0;
}
/* Make main section Responsive */
@media (max-width: 570px) {
  .main .content {
    position: relative;
    left: 50%;
    transform: translateX(-45%);
  }
  .main {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
  }
  .main_photo {
    width: 100%;
    height: fit-content;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    object-fit: contain;
  }
  .main .content button {
    margin-top: 1rem;
  }
}
/* End Main Section */

/* Sarting Services */
.cards {
  padding: 100px 200px;
}
.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.cards .card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
}
.cards .card:hover {
  transform: scale(1.1);
}

.cards .icon {
  color: #3a6cf4;
  text-align: center;
}

.cards .icon img {
  width: 150px;
}
.cards .icon img[alt="phone"] {
  width: 100px;
}
.cards .info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  margin: 20px 0;
}
.cards .info {
  text-align: center;
}

/* End Services */

/* Start footer */

.footer {
  width: 100%;
  height: 100px;
  color: #fff;
  /* position: absolute;
  bottom: 0; */
}
footer .main-footer {
  background: #111;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
}

.main-footer p {
  font-size: 18px;
  margin-bottom: 1rem;
}

.social-icons img {
  width: 30px;
}

/* End footer */
